* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9e7e7;
    font-family: Inter, sans-serif;
}

.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    margin-top: 40px;
}

.content-left {
    max-width: 550px;
    padding-top: 40px;
    
}

.home-text {
    align-self: stretch;
    color: #F894B0;
    font-family: "Lilita One";
    font-size: 40px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    margin-bottom: 25px;
}

.sub-text {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.about_us-button,
.view_menu-button {
    position: relative;
    width: 183px;
    height: 55px;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
    z-index: 3;
}


.about_us-button {
    border: 3px solid #FF9E9E;
    background: transparent;
    color: #FF9E9E;

}

.about_us-button:hover {
    color: #fff;
    background-color: #eb7878;
    transform: 2s;
}

.view_menu-button {
    background: #F1B4C6;
    border: none;
    color: white;

}

.view_menu-button:hover {
    color: #fff;
    background-color: #eb7878;
    transform: 2s;
}

.content-right {
    position: absolute;
    width: 750px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
         
}

.frame39 {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;     
    border-radius: 50px;   
    flex-shrink: 0;
    z-index: 1;
    left: 320px;
    top: 50px;
}

.unknown-text {

    position: absolute;
    right: 14px;
    top: 63%;
    transform: translateY(-50%);  
    font-family: "Ninja Kage Demo";
    font-size: 150px;
    color: #753B41;
    text-shadow: 0px 8px 15px rgba(0,0,0,0.25);
    letter-spacing: 20px;
    line-height: 1.1;
    z-index: 2;
}
