/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* IMPORTING ICONS */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FBF5F6;
    scroll-behavior: smooth;
}

/* Navigation Bar */
.menu-header {
    width: 100%;
    display: flex;
    position: sticky;
    height: 100px;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.25);
    justify-content: center;
    background-color: #FEE8E8;
    z-index: 1000;
}

.menu-navigation-bar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    gap: 284px;
    margin: 0 40px;
    justify-content: space-between;
}

.nav-logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
}

.middle-bar-links {
    display: flex;
    gap: 48px;
}

.menu-btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.dropdown-btn {
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    transform: rotate(-90deg);
}

.dropdown-btn:hover{
    transform: rotate(-90deg) scale(1.3);
}

.btn-dropdown-effect:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    display: flex;
}

.dropdown {
    position: absolute;
    top: 64px;
    transform: translateX(-42%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: 0.6s ease, opacity 0.5s ease;
    background: #fff4f4;
    z-index: 999;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 25px;
    width: 100vw;
    box-shadow: 0 10px 12.8px 0 rgba(0, 0, 0, 0.25) inset;
}

.dropdown-container {
    margin: 30px auto;
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.dropdown-title {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-line {
    margin: 40px 0 25px 0;
    width: 100%;
    background-color: #C70742;
}

.dropdown-content {
    display: grid;
    width: 794px;
    height: 258px;
    row-gap: 30px;
    column-gap: 35px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dropdown-items {
    display: flex;
    width: 378px;
    height: 66px;
    align-items: center;
    gap: 9px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s ease;
}

.dropdown-items:hover {
    border-color: #C70742;
    transform: scale(1.06);
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.25);
}

.dropdown-items:hover .dropdown-arrow {
    transform: rotate(0deg);
}

.dropdown-link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}

.dropdown-img {
    width: auto;
    height: 66px;
}

.dropdown-text-wrapper {
    display: flex;
    width: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.dropdown-text {
    color: #333;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 4px;
    margin: 0 0 3px 0;
}

.dropdown-subtext {
    color: #999;
    height: 16px;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.dropdown-arrow {
    width: 24px;
    height: 24px;
    color: #000;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.3s ease;
}

.nav-btn {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-btn {
    display: flex;
    width: 125px;
    height: 51px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19px;
    border: 3px solid #2C2C2C;
    background: #2C2C2C;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s ease;
}

.nav-btn:hover {
    color: #C70742;
    transform: scale(1.06);
}

.contact-btn:hover {
    background: transparent;
    color: #2C2C2C;
    transform: scale(1.06);
}


/* Main Content */
.main-contact-sect {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

/* Main Page Heading */
h1 {
    font-size: 64px;
    color: #FA6F96;
    font-family: "Lilita One", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 50px auto 30px auto;
}

/* H2 headings */
h2 {
    font-size: 38px;
    color: #FA6F96;
    font-family: "Lilita One", sans-serif;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.deschead {
    text-align: left;
}

.detailshead {
    text-align: right;
}

/* Main content: two columns */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 1400px;
}

/* Left column */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 700px;
}

/* Left paragraph */
.description {
    font-size: 18px;
    color: #000;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

/* Right column */
.right-column {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

/* Right paragraph */
.details {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin: 0 0 10px 0;
}

/* Form */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 21px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 9px;
}

.form-row h3 {
    font-size: 20px;
    color: #FA6F96;
    font-family: "Lilita One", sans-serif;
    margin-bottom: 5px;
    text-align: left;
}

.form-row input,
.form-row textarea {
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border: 2px solid transparent;
    padding: 5px 10px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-align: left;
    color: #000;
    background-color: #F3ACAC;
    align-self: stretch;
    transition: 0.3s ease;
}

.form-row textarea {
    padding: 10px 10px;
    height: 150px;
    width: 100%;
    resize: vertical;
}

input:hover,
textarea:hover {
    border: 2px solid #FA6F96;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #FA6F96;
    font-size: 15px;
    color: #000;
}

/* Bold for Kawa span */
.kawa {
    font-weight: bold;
}

/* Button styling */
.button-row {
    display: flex;
    width: 183px;
    height: 45px;
    padding: 11px 45px 11px 46px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #C70742;
    background-color: transparent;
    font-family: "Lilita One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #C70742;
    transition: 0.3s ease
}

.button-row:hover {
    background-color: #C70742;
    transform: scale(1.06);
    color: #fff;
}


/* Styling the image */
.crop-box {
    width: 426px;
    height: 276px;
    overflow: hidden;  
    position: relative;
    border-radius: 30px;
    border: #F3ACAC solid 2px;
    margin: 0 auto;
}

.map-img {
    width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-top: 30px;
}

.bottom-title {
    align-self: stretch;
    color: #C70742;
    font-family: "Lilita One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 7px 0;
}

.icons-holder {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-icon {
    width: 30px;
    height: 30px;
}

/* FOOTER */

/* FOOTER */

.footer-section {
    box-shadow: 0 -8px 19px 0 rgba(0, 0, 0, 0.25);
    clear: both;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 60px;
    justify-content: center;
    gap: 40px;
    background: #FEE8E8;
}

.footer-content {
    display: flex;
    width: 1440px;
    height: 349px;
    padding: 0 120px 0 63px;
    align-items: center;
}

.footer-left-content {
    width: 362px;
    height: 362px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.footer-right-content {
    display: flex;
    align-items: flex-start;
    gap: 123px;
    margin-top: 19px
}

.foot-quote {
    display: flex;
    width: 263px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.col-title {
    color: #FA6F96;
    font-family: "Lilita One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot-quote p {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-icons {
    display: flex;
    gap: 7px;
    align-items: center;
} 


.footer-icons img {
    width: 29px;
    height: 29px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-quicklinks {
    display: flex;
    width: 101px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-right: 80px;
}

.footer-quicklinks a {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-quicklinks a:hover {
    color: #C70742;
}

.footer-get-intouch {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.foot-info {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 19px;
    display: flex;
    align-items: flex-start;
}

.info .foot-icon {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}