    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f8dfe6;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .about-container {
        width: 100%;
        height: 100%;
        align-items: center;
    }
    