body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8dfe6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    width: 100%;
    height: 846px;
    align-items: center;
}

.main-img {
    max-width: 1440px;
}

    