* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #f9e7e7; /* light pink background */
    color: #000000;
}

/* Menu Section */
.menu {
    flex-shrink: 0;
    background: linear-gradient(69deg, #FFE7E7 22.91%, #FBF5F6 70.57%);
    filter: drop-shadow(0 9px 14.9px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 73px;
    padding: 50px 80px;
}

.main-content-left {
    position: relative;
}

.main-menu-text {
    color: #000;
    font-family: "Secret Formula";
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.3px;
    width: 1050px;
    padding: 91px 250px 319px 86px;
}

.you-text {
    color: #C70742;
}

.main-content-right {
    display: flex;
    position: relative;
    flex-direction: column;    
    justify-content: center;
    gap: 40px;
    padding-right: 80px;
}

.img-container {
    position: absolute;
    top: 50px;
}

.dish1 {
    top: -10px;
    right: 10px;
    width: 710px;
    height: 722px;
    pointer-events: none; 
    position: absolute;
}

.dish2 {
    height: 332px;
    flex-shrink: 0;
    pointer-events: none;
    position: absolute;
}

.special-button {
    width: 242px;
    height: 95.437px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #FFD2D2;
    background: rgba(189, 189, 189, 0.00);
    color: #FFD2D2;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
    margin-top: 20px;
}

.order-button {
    width: 242px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 109px;
    border: 3px solid #F1B4C6;
    background: #F1B4C6;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.chop-img-container {
    position: absolute;
    top: 300px;  
    left: 0;
    width: 100%;
    pointer-events: none; 
}

.chop1 {
    position: absolute;
    width: 548.183px;
    height: 975.414px;
    top: 195px;        
    left: 120px;         
    transform: rotate(77deg);
    opacity: 0.95;
    z-index: 1;
}

.chop2 {
    position: absolute;
    width: 548.183px;
    height: 975.414px;
    top: 325px;
    left: 150px;
    transform: rotate(82deg);
    opacity: 0.95;
    z-index: 1;
}

.bottom-rectangle {
    width: 100%;
    height: 133px;
    background: #FBF4F6;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: -77px;
    z-index: -1;
}