/* global-css/header.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.menu-header {
    width: 100%;
    display: flex;
    position: sticky;
    height: 100px;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.25);
    justify-content: center;
    background-color: #FEE8E8;
    z-index: 1000;
}

.menu-navigation-bar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    gap: 284px;
    margin: 0 40px;
    justify-content: space-between;
}

.nav-logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
}

.middle-bar-links {
    display: flex;
    gap: 48px;
}

.menu-btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.dropdown-btn {
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
    transform: rotate(-90deg);
}

.dropdown-btn:hover{
    transform: rotate(-90deg) scale(1.3);
}

.btn-dropdown-effect:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    display: flex;
}

.dropdown {
    position: absolute;
    top: 64px;
    transform: translateX(-46%);
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: 0.6s ease, opacity 0.5s ease;
    background: #fff4f4;
    z-index: 999;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 25px;
    width: 100vw;
    box-shadow: 0 10px 12.8px 0 rgba(0, 0, 0, 0.25) inset;
}

.dropdown-container {
    margin: 30px auto;
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.dropdown-title {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-line {
    margin: 40px 0 25px 0;
    width: 100%;
    background-color: #C70742;
}

.dropdown-content {
    display: grid;
    width: 794px;
    height: 258px;
    row-gap: 30px;
    column-gap: 35px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dropdown-items {
    display: flex;
    width: 378px;
    height: 66px;
    align-items: center;
    gap: 9px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s ease;
}

.dropdown-items:hover {
    border-color: #C70742;
    transform: scale(1.06);
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.25);
}

.dropdown-items:hover .dropdown-arrow {
    transform: rotate(0deg);
}

.dropdown-link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}

.dropdown-img {
    width: auto;
    height: 66px;
}

.dropdown-text-wrapper {
    display: flex;
    width: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.dropdown-text {
    color: #333;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 4px;
    margin: 0 0 3px 0;
}

.dropdown-subtext {
    color: #999;
    height: 16px;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.dropdown-arrow {
    width: 24px;
    height: 24px;
    color: #000;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.3s ease;
}

.nav-btn {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-btn {
    display: flex;
    width: 125px;
    height: 51px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19px;
    border: 3px solid #2C2C2C;
    background: #2C2C2C;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s ease;
}

.nav-btn:hover {
    color: #C70742;
    transform: scale(1.06);
}

.contact-btn:hover {
    background: transparent;
    color: #2C2C2C;
    transform: scale(1.06);
}