body {
  background-color: #fbf5f6;
  font-family: Inter, sans-serif;
  max-width: 1400;
}
.carousel {
  margin: auto;
  height: 250px;
  width: 85%;
  border: 25px solid #ffdee9;
  border-radius: 2%;
  display: flex;
  overflow-x: auto;
  background: #ffdee9;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s linear infinite;
  padding-right: 1em;
}
.card {
  flex: 0 0 5em;
  height: 7em;
  background: #ffdee9;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
/* review card modif */
.reviewcontainer {
  width: 80%;
  margin: auto;
  padding: 2em 0 0 0;
  text-align: center;
  background-color: aqua;
  position: relative;
}
.reviewcard {
  width: 250px;
  height: 150px;
  text-align: center;
  align-content: center;
  border: 2px solid #ffdee9;
  border-radius: 10px;
  margin: 1em 4em 3em 4em;
  padding: 1em 3em 0 3em;
  display: inline-block;
  vertical-align: bottom;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;

  gap: 20px;
}
/* image modif */
#pngkawa {
  width: 100%;
  height: 100%;
}
#doublepng {
  width: 100%;
  height: 50%;
}
.starpng {
  width: 40%;
  height: 10%;
}
/*test*/
.textkawa {
  align-self: stretch;
  color: #f894b0;
  font-family: "Lilita One";
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin-bottom: 25px;
}
