* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #f8dfe6 0%, #ffeef3 100%);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.about {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.main-aboutbg {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    overflow: visible;
}

.main-aboutbg::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 5;
}

.about-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 70px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.about-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 10px auto;
    margin-bottom: 90px;
    padding: 60px 20px;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.about-container {
    position: sticky;
    top: 120px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 158px;
    justify-content: center;
}

.about-logo {
    width: 480px;
    height: 480px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 20;
    box-shadow: -30px 4px 16px rgba(0, 0, 0, 0.15);
    position: relative;
}

.about-text-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 700px;
}

.about-text-container .about-title {
    color: #F894B0;
    font-family: "Lilita One";
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.about-text-container .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.about-text p {
    color: #080808;
    text-align: left;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 12px;
}

.about-text p:last-child {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }

    .about-logo {
        width: 300px;
        height: 300px;
    }

    .about-text-container {
        max-width: 100%;
        align-items: center;
    }

    .about-text-container .about-title {
        font-size: 42px;
    }
}