/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* IMPORTING ICONS */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-body {
    background-color: #FBF5F6; /* light pink background */
    scroll-behavior: smooth;
}

/* LANDING SECTION */

.landing-section {
    width: 100%;
    height: 850px;
    display: flex;
    background: linear-gradient(30deg, #FFE7E7 22.91%, #FBF5F6 70.57%);
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41); 
    z-index: 0;
}

.landing-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 100px;
}

.landing-content-left {
    flex: 1;
    margin-top: 91px;
    max-width: 600px;
}

.landing-text {
    color: #000;
    font-family: "Secret Formula";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.0px;
}

.you-text {
    color: #C70742;
    font-family: "Secret Formula";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landing-content-right {
    flex: 1;  
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.dish-wrapper {
    position: relative;
    width: 100%;
    max-width: 750px;
}

.dish1 {
    position: relative;
    width: 100%;
    max-width: 750px;
    z-index: 1;
    object-fit: cover;
}

.dish2 {
    position: absolute;
    bottom: -50px;
    right: 430px;
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.special-button {
    position: absolute;
    bottom: 34%;
    right: 94%;
    width: 212px;
    height: 75.437px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #eb7878;
    background: rgba(189, 189, 189, 0.00);
    color: #eb7878;
    text-align: center;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.order-button {
    position: absolute;
    bottom: -45px;
    right: 280px; 
    width: 212px;
    height: 75.437px;
    flex-shrink: 0;
    border-radius: 109px;
    border: 3px solid #ff92b3;
    background: #ff92b3;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

.special-button:hover {
    background-color: #eb7878;
    color: #fff;
    transform: 2s ease;
    transform: scale(1.06);
}

.order-button:hover {
    background-color: transparent;
    color: #ff92b3;
    transform: 2s ease;
    transform: scale(1.06);
}

.landing-bottom-rectangle {
    width: 100%;
    height: 73px;
    flex-shrink: 0;
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41);
}

/* CARDS MENU SECTION */

.cards-section {
    width: 100%;
    max-width: 1400px;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 10px;
}

.cards-menu-container {
    max-width: 1400px;
    height: 610px;
    padding: 0 100px;
}

.cards-menu-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    overflow: hidden;
}

.card-menu-list .card-menu-item {
    user-select: none;
    width: 350px;
    height: auto;
    background: transparent;
    padding: 41px 39px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 480px;
    justify-content: center;
    align-items: center;

}

.card-menu-list .cards-img {
    width: 100%;
    border-radius: 19px;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.25);
}

.card-menu-list .card-title {
    color: #F894B0;
    text-align: center;
    font-family: "Lilita One";
    font-size: 29px;
    padding: 18px 0;
}

.card-menu-list .card-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;    
}

.cards-img {
    max-width: 268px;
    max-height: 293px;
}

.card-menu-item {
    height: 480px;
    margin: 0 -15;
    transition: transform 0.6s ease;
    transform: scale(0.8);
}

.swiper-button-prev,
.swiper-button-next {
    width: 44px !important;
    height: 44px !important;
    background: transparent !important;
    font-size: 29px !important;
    font-weight: 900px !important;
    color: #000 !important;
    transition: all 0.3s ease-in-out !important;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
    transform: scale(1.29) !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background-color: #f3779a !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: #F894B0 !important;
    opacity: 1;
}

.line {
    width: 100%;
    height: 6px;
    background: #000;
    margin-top: 44px;
}

/* MENU LIST SECTION */

.main-menu-section {
    width: 100%;
    max-width: 1400px;
    max-height: 4000px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
}

.all-menu {
    max-width: 1400px;
    max-height: 4000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    align-items: center;
}

.main-menu-list {
    margin: 20px 0;
    max-width: 1400px;
    max-height: 4000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.main-menu-title {
    color: #C70742;
    text-align: center;
    font-family: "Lilita One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-menu-container {
    margin-top: 30px;
    max-height: 4000px;
    display: flex;
    width: 100%;
    padding: 70px 60px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 50px;
    background: #F894B0;
    min-height: auto;
    overflow: visible;
}

.main-menu-box {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 108px 124px;
    flex-wrap: wrap;
}

.main-menu-item {
    display: flex;
    gap: 75px;
}

.main-menu-img {
    width: 187px;
    height: 187px;
    object-fit: cover;
    border-radius: 20px;
}

.transparent {
    opacity: 0;
}

.main-menu-text {
    display: flex;
    width: 250px;
    max-width: 270.35px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}

.menu-group-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.menu-text {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu-price {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order-menu-button {
    display: block;
    width: 161px;
    height: 47px;
    margin: 70px auto; 
    border-radius: 74px;
    color: #C70742;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 4px solid #C70742;
    background-color: transparent;
    transition: 0.3s ease;
}

.order-menu-button:hover {
    background-color: #C70742;
    transform: scale(1.06);
    color: #fff;
}

.main-menu-sub-title {
    color: #000;
    text-align: center;
    font-family: "Lilita One";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 60px 0;
}

.main-menu-note {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 34px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.trays-item {
    display: flex;
    gap: 17px;
}

.trays-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.menu-size {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 23px;
}

.second-box {
    background-color: #FFCDCD;
    padding: 60px;
    width: 100%;
    border-radius: 40px;
    align-items: stretch;
}

@media (max-width: 1024px) {
    .menu-navigation-bar {
        padding: 0 20px;
    }

    .middle-bar-links {
        gap: 25px;
    }

    .nav-btn, .contact-btn {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .middle-bar-links {
        display: none; /* hide links, prepare for a hamburger menu */
    }

    .menu-navigation-bar {
        justify-content: space-between;
    }
}
