/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-body {
    background-color: #FBF5F6; /* light pink background */
    scroll-behavior: smooth;
}

.menu-header {
    width: 100%;
    display: flex;
    height: 100px;
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41);
    justify-content: center;
    background-color: #FEE8E8;
    z-index: 1000;
}

.menu-navigation-bar {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    gap: 284px;
    margin: 0 40px;
    justify-content: space-between;
}

.nav-logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
}

.middle-bar-links {
    display: flex;
    gap: 48px;
}

.nav-btn {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.contact-btn {
    display: flex;
    width: 125px;
    height: 51px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #2C2C2C;
    background: #2C2C2C;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.landing-section {
    width: 100%;
    height: 850px;
    display: flex;
    background: linear-gradient(30deg, #FFE7E7 22.91%, #FBF5F6 70.57%);
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41); 
    z-index: 0;
}

.landing-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 100px;
}

.landing-content-left {
    flex: 1;
    margin-top: 91px;
    max-width: 600px;
}

.landing-text {
    color: #000;
    font-family: "Secret Formula";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.0px;
}

.you-text {
    color: #C70742;
    font-family: "Secret Formula";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landing-content-right {
    flex: 1;  
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.dish-wrapper {
    position: relative;
    width: 100%;
    max-width: 750px;
}

.dish1 {
    position: relative;
    width: 100%;
    max-width: 750px;
    z-index: 1;
    object-fit: cover;
}

.dish2 {
    position: absolute;
    bottom: -50px;
    right: 430px;
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.special-button {
    position: absolute;
    bottom: 34%;
    right: 90%;
    width: 212px;
    height: 75.437px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #eb7878;
    background: rgba(189, 189, 189, 0.00);
    color: #eb7878;
    text-align: center;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.order-button {
    position: absolute;
    bottom: -45px;
    right: 280px; 
    width: 212px;
    height: 75.437px;
    flex-shrink: 0;
    border-radius: 109px;
    border: 3px solid #ff92b3;
    background: #ff92b3;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

.special-button:hover {
    background-color: #eb7878;
    color: #fff;
    transform: 2s;
}

.order-button:hover {
    background-color: transparent;
    color: #ff92b3;
    transform: 2s;
}

.chop-img-container {
    position: absolute;
    top: 300px;  
    left: 0;
    width: 100%;
    pointer-events: none; 
}

.chop1 {
    position: absolute;
    width: 548.183px;
    height: 975.414px;
    top: 50px;
    left: -220px;      
    transform: rotate(83deg);
    opacity: 0.95;
    z-index: 1;
}

.chop2 {
    position: absolute;
    width: 548.183px;
    height: 975.414px;
    top: 120px;
    left: -220px;
    transform: rotate(87deg);
    opacity: 0.95;
    z-index: 1;
}

.landing-bottom-rectangle {
    width: 100%;
    height: 73px;
    flex-shrink: 0;
    box-shadow: 0 5px 10.9px 0 rgba(0, 0, 0, 0.41);
}

/* CARDS MENU SECTION */

.cards-section {
    width: 100%;
    max-width: 1400px;
    height: 7000px;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 130px;
}

.cards-menu-container {
    max-width: 1400px;
    height: 670px;
    padding: 0 100px;
}

.cards-menu-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    overflow: hidden;
}

.card-menu-list .card-menu-item {
    user-select: none;
    width: 350px;
    height: auto;
    background: transparent;
    padding: 41px 39px;
    border-radius: 19px;
    /* box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 480px;
    justify-content: center;
    align-items: center;

}

.card-menu-list .cards-img {
    width: 100%;
}

.card-menu-list .card-title {
    color: #F894B0;
    text-align: center;
    font-family: "Lilita One";
    font-size: 29px;
    padding: 18px 0;
}

.card-menu-list .card-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;    
}

.cards-img {
    max-width: 224px;
    max-height: 245px;
}

.card-menu-item {
    height: 480px;
    margin: 0 -15;
}

.active-item {
    background: #fff0f5;
    transform: scale(1.2) !important;
    transition: 0.3s ease;
}

.active-img {
    max-width: 268px;
    max-height: 293px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 66px !important;
    height: 66px !important;
    background: #eb7878 !important;
    border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #000 !important;
}

.swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
    background-color: transparent !important;
}

.line {
    width: 100%;
    height: 6px;
    background: #000;
    margin-top: 44px;
}

.main-menu-list {
    margin-top: 130px;
    max-width: 1400px;
    max-height: 3500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.main-menu-title {
    color: #C70742;
    text-align: center;
    font-family: "Lilita One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-menu-container {
    display: flex;
    padding: 73px 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 50px;
    background: #F894B0;
}

.main-menu-item {
    display: flex;
    gap: 75px;
}

.main-menu-img {
    width: 187px;
    height: 187px;
    object-fit: cover;
}

.main-menu-text {
    display: flex;
    width: 170.35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}


@media (max-width: 1024px) {
    .menu-navigation-bar {
        padding: 0 20px;
    }

    .middle-bar-links {
        gap: 25px;
    }

    .nav-btn, .contact-btn {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .middle-bar-links {
        display: none; /* hide links, prepare for a hamburger menu */
    }

    .menu-navigation-bar {
        justify-content: space-between;
    }
}
